* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

h1,
i {
    color: rgb(3, 42, 3);
}

/* Navigation Styles */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .leftSide h2 a {
    color: rgb(3, 42, 3);
    text-decoration: none;
    text-align: center;
}

nav .leftSide h2 a span {
    display: block;
    font-size: 1rem;
}

nav .middleSection ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

nav .middleSection ul li {
    list-style: none;
}

nav .middleSection ul li a {
    text-decoration: none;
    color:rgb(3, 42, 3);
    font-weight: 500;
}